<ion-header>
	<ion-toolbar class="toolbar-class" placeholder="Search..">
		<div class="logo-profile">
			<div class="icon-class">
				<input
					class="Button-Edges"
					type="text"
					placeholder=""
					id="search"
				/>
				<ion-icon (click)="busca()" name="search"> </ion-icon>
			</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div ng-if="!cardComment" class="Clique-na-busca-para">
		<ion-text> Clique aqui na busca para iniciar</ion-text>
	</div>

	<div ng-if="cardComment" class="Clique-na-busca-para">
		<ion-card> </ion-card>
	</div>
</ion-content>
