<ion-content padding>
	<div class="theme-bg"></div>

	<div class="auth-content"></div>

	<div padding-horizontal text-center class="animated fadeInDown">
		<div class="logo"></div>
		<h4 no-margin>
			<ion-text color="Black" class="fw700">
				<!-- <strong>Macro</strong> Labor -->
			</ion-text>
		</h4>
	</div>

	<form [formGroup]="loginForm" class="list-form">
		<ion-item no-padding class="animated fadeInUp">
			<ion-label position="floating">
				<ion-icon name="lock" item-start></ion-icon>
				Email
			</ion-label>
			<ion-input
				inputmode="numeric"
				type="text"
				formControlName="Email"
				clearInput
				clearOnEdit="false"
			></ion-input>
		</ion-item>

		<ion-item no-padding class="animated fadeInUp">
			<ion-label position="floating">
				<ion-icon name="lock" item-start></ion-icon>
				Senha
			</ion-label>
			<ion-input
				type="text"
				inputmode="numeric"
				formControlName="Senha"
				clearInput
				clearOnEdit="false"
			></ion-input>
		</ion-item>
	</form>
	<div>
		<ion-button
			icon-left
			size="medium"
			expand="full"
			(click)="login()"
			[disabled]="!loginForm.valid"
			tappable
		>
			<ion-icon name="log-in"></ion-icon>
			Entrar
		</ion-button>
		<ion-grid class="btn-group">
			<ion-row>
				<ion-col size="4"> </ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
