/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.auth-page {
	--background: #ebe9d7;

	.grid {
		padding: 0;
		.col {
			padding: 0;
		}
	}

	.btn-group {
		.button-ios,
		.button-md {
			border-radius: 0;
			&:first-of-type {
				border-radius: 2px 0 0 2px;
			}
			&:last-of-type {
				border-radius: 0 2px 2px 0;
			}
		}
	}

	.auth-content {
		margin: 0 5%;

		.logo {
			// width: 160px;
			// height: 160px;
			width: 190px;
			height: 190px;
			margin: 20px auto 8px;
			border-radius: 10%;
			background: url('assets/img/img-login.png') no-repeat;
			background-size: 100%;
		}

		.list-form {
			padding: 0;
			margin-bottom: 0;

			ion-item {
				--background: #ebe9d7;
				background: none;
				padding: 0;

				&:first-child {
					border-top: none;
				}

				&:after {
					display: none;
				}

				ion-label {
					font-size: 1em;
					// color: var(--ion-color-light);
					color: Black;
				}

				input {
					// color: var(--ion-color-light);
					color: Black;
				}
				ion-button {
				}
			}
		}
	}
}
.Lorem-ipsum-dolor-si {
	height: 3.25rem;
	font-family: Roboto;
	font-size: 1.125rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: -0.25px;
	text-align: center;
	color: #383743;
}
.BEM-VINDO-AO-EMPRESA {
	height: 4rem;

	font-family: Roboto;

	font-size: 1.5rem;

	font-weight: bold;

	font-stretch: normal;

	font-style: normal;

	line-height: normal;

	letter-spacing: normal;

	text-align: center;
}
.Rectangle-26 {
	height: 3.3rem;

	border-radius: 3.6px;
	--background: #57bbbc;
	background-color: #57bbbc;
}
.mto {
	margin-top: 12px;
	// display: flex;
	ion-icon {
		margin-bottom: -2px;
		padding-right: 0.4rem;
		padding-left: 0.15rem;
	}
}
